---
contact_email: contact@defuserband.com
contact_number: "+1 (902) 393-0928"
events_message: Check back here for any upcoming events that the band may have, whether
  it’s a gig or a recording session, we will keep you updated!
facebook_url: https://www.facebook.com/DefuserBand/
footer_message: Defuser is a rock group formed on Prince Edward Island in 2017. Keep
  an eye out for new music and upcoming shows.
layout: default
spotify_image: "/uploads/2017/10/27/005.jpg"
spotify_link: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349792291&amp;color=%237c6474&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true
spotify_show: false
spotify_url: https://open.spotify.com/artist/0ADmJXRbEkqB6XgnyzsT4g?si=N6f0rd8fS3mDkzoQkVmloA
title: Home
twitter_url: https://www.instagram.com/defuserband/
who_are_we_image: "/uploads/2017/10/27/006.jpg"
who_are_we_message: 'Hailing from Charlottetown, Prince Edward Island, Defuser, is
  the perfect blend of <strong>gut-busting</strong> rock n'' roll mixed with a taste
  of funk, blues, and soul. Since the band''s inception Defuser''s mantra has remained
  the same: "<strong>High energy at all costs</strong>." <br><br>Make sure to check
  out our new single, <a href="https://open.spotify.com/artist/0ADmJXRbEkqB6XgnyzsT4g?si=N6f0rd8fS3mDkzoQkVmloA"><strong>''Revenant''</strong></a>, out everywhere on January 11th!'
who_are_we_message_mobile: Formed in 2017, Defuser, is the perfect blend of "in your
  face rock n' roll" mixed with a taste of funk, blues, and soul. <br><br>New single <a href="https://open.spotify.com/artist/0ADmJXRbEkqB6XgnyzsT4g?si=N6f0rd8fS3mDkzoQkVmloA"><strong>'Revenant'</strong></a> out everywhere on January 11th!

---
{% assign sortedResources = site.events | sort: 'eventdate' %}
<!-- Feature Modal -->
<section class="modal active">
  <div class="text_content" style="top: 0px;">
    <div class="intro_text_modal col-md-10 col-md-offset-1">
        <div class="col-md-6 hidden-xs hidden-sm" style="text-align: right;">
            <img src="images/revenant.jpg" style="width: 350px; margin-right: 60px; box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0,0,0,0.22);"/>
          </div>
        <div class="col-md-6 col-sm-12">
          <span><img class="logo-big-i" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" src="images/logo.png"/></span>
          <span class="great_subtitle great_subtitle_big">Been staring at the ceiling... <span class="rev-yeah hidden">Yeah, It is my time</span></span>
          <div>
            <span class="great_contents" id="pageTimer"></span>
            <span class="great_contents rev-statement hidden">The time is finally here. Revenant is now available to stream on all major streaming platforms.</span>
          </div>
          <br/><br/>
          <span class="intro_soc soc_modal" data-offset="5">
            <a href="https://itunes.apple.com/ca/artist/defuser/1342939346">
            <i class="fa fa-apple"></i>
            </a>
            <a href="https://play.google.com/store/music/artist/Defuser?id=Au6vr5c7ov6z3ezzgzawjhg2kjq">
            <i class="fa fa-google"></i>
            </a>
            <a href="{{ page.spotify_url }}">
            <i class="fa fa-spotify"></i>
            </a>
          </span>
          <span>
          <a href="https://distrokid.com/hyperfollow/defuser/f42Z" class="btn btn-white rev-presave" style="margin-bottom: 10px;">Pre-save Revenant</a>
          <a class="btn btn-white disable-modal" style="margin-bottom: 10px; margin-left: 0px;">Continue to Defuserband.com</a>
          </span>
        </div>

        
      <!--<span class="great_title">{{ slide_item.slide_header }}</span>-->
      
    </div>
  </div>
</section>

<!--Intro-->
<section class="intro">
  <!-- Down Arrow -->
  <a href="#events" class="down_block go">
  <i class="fa fa-angle-down"></i>
  </a>
  <!--Wrapper-->
  <div class="intro_wrapper_no_auto">
    {% for slide_item in site.slides %}
    <!--Item-->
    <div class="intro_item">
      <div class="over"></div>
      <div class="text_content">
        <div class="intro_text intro_text_lb text-left text_small layer-bg parallax" data-offset="0">
          <!--<span class="great_title">{{ slide_item.slide_header }}</span>-->
          <span><img class="logo-big-i clerfix parallax" data-offset="5" src="images/logo.png"/></span>
          <span class="great_subtitle great_subtitle_big clerfix parallax" data-offset="5">{{ slide_item.slide_subheader }}</span>
          <div class="parallax clerfix" data-offset="5">
            <span class="great_contents hidden-xs">{{ page.who_are_we_message }}</span>
            <span class="great_contents visible-xs">{{ page.who_are_we_message_mobile }}</span>
            <a href="{{ sortedResources.first.facebook_event_url }}" class="clerfix parallax" data-offset="30"><span class="next_gig_line"><span class="next_gig">Next Gig:</span>{{ sortedResources.first.location }} @ {{ sortedResources.first.eventdate | date: "%B %d, %Y" }}</span></a>
          </div>
          
          
          <span class="intro_soc clerfix parallax" data-offset="5">
          <a href="{{ page.facebook_url }}">
          <i class="fa fa-facebook"></i>
          </a>
          <a href="{{ page.twitter_url }}">
          <i class="fa fa-instagram"></i>
          </a>
          <a href="{{ page.spotify_url }}">
          <i class="fa fa-spotify"></i>
          </a>
          </span>
          <span>
          <a href="{{ page.spotify_url }}" class="btn btn-white clerfix parallax" data-offset="5">Check us out on Spotify</a>
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--Wrapper End-->
</section>
<!--Intro End-->
<!--Events Title-->
<section class="boxes simple_title image_bck white_txt" data-color="#000" id="events">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bordered_block bordered_wht_border no-padding no-cover">
        <div class="simple_block">
          <h3 class="wow fadeInUp">Upcoming Events</h3>
          <p class="wow fadeInUp" data-wow-delay="0.4s">{{ page.events_message }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Events Title End-->
<!-- Events Section -->
<section class="boxes reviews">
  <div class="container-fluid">
    {% if site.events == empty  %}
    <div class="col-md-12 text-center no-events">
      <h3>There are no upcoming events</h3>
      <p>Please check back later!</p>
    </div>
    <!--Wrapper-->
    {% else %}
    <div class="mid_wrapper">
      {% for event_item in sortedResources %}
      <!--Item-->
      <div class="bordered_block flex_block image_bck bordered_over height400">
        <div class="image_over image_bck" data-image="{{ event_item.event_image }}"></div>
        <a href="{{ event_item.facebook_event_url }}" class="box_link"></a>
        <div class="box_content text-center">
          <h3>{{ event_item.title }}<br/>{{ event_item.location }}</h3>
          {{ event_item.eventdate | date: "%B %d, %Y" }}
        </div>

      </div>
      
      {% endfor %}
    </div>
    {% endif %}
    <!--Wrapper End-->
  </div>
</section>
<!--Events Section End-->


<!-- Footer -->
<div class="footer white_txt image_bck bordered_wht_border" id="contacts" data-color="#0e0e0e">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer-logo-sm"><img class="logo-small-i" src="images/logo.png"/></div>
        <span class="footer-message">{{ page.footer_message }}</span>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 hidden-xs">
        <div class="widget">
          <h4>Recent Posts</h4>
          <ul class="list-unstyled">
            {% for post in site.posts limit:3 %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span class="date">{{ post.date | date: "%B" }}
              <span class="number">{{ post.date | date: "%d, %Y" }}</span>
              </span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 hidden-xs">
        <div class="widget">
          <h4>Contact Us</h4>
          <span class="contacts_ti fa fa-phone"></span>{{ page.contact_number }}
          <br />
          <span class="contacts_ti fa fa-envelope-o"></span>
          <a href="mailto:{{ page.contact_email }}">{{ page.contact_email }}</a>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--Row End-->
  </div>
  <!-- Container End -->
  <!-- Footer Copyrights -->
  <div class="footer_end">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <span class="sub">&copy; Defuser 2018 •
          <a href="http://forestry.io/login" id="forestry_login">Login</a>
          </span>
        </div>
        <div class="col-sm-6 text-right">
          <ul class="list-inline social-list">
            <li>
              <a href="{{ page.facebook_url }}" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="{{ page.twitter_url }}" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li>
              <a href="{{ page.spotify_url }}" data-toggle="tooltip" data-placement="top" title="Dribbble">
              <i class="fa fa-spotify"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyrights End -->
</div>
<!-- Footer End -->