<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>Defuser - {{ page.title }}</title>
    <meta name="description" content="Hailing from Charlottetown, Prince Edward Island, Defuser, is the perfect blend of gut-busting rock n' roll mixed with a taste of funk, blues, and soul. Since the band's inception Defuser's mantra has remained the same: High energy at all costs.">
    <meta name="author" content="Colin Crowther">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Hailing from Charlottetown, Prince Edward Island, Defuser, is the perfect blend of gut-busting rock n' roll mixed with a taste of funk, blues, and soul. Since the band's inception Defuser's mantra has remained the same: High energy at all costs.">
    <meta name="twitter:site" content="@defuserband">
    <meta name="twitter:title" content="Defuser">
    <meta name="twitter:description" content="Hailing from Charlottetown, Prince Edward Island, Defuser, is the perfect blend of gut-busting rock n' roll mixed with a taste of funk, blues, and soul. Since the band's inception Defuser's mantra has remained the same: High energy at all costs.">
    <meta name="twitter:creator" content="@cmacrowther">
    <meta name="twitter:image" content="http://defuserband.com/images/og.png">
    <!-- Open Graph data -->
    <meta property="og:title" content="Defuser" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.defuserband.com/" />
    <meta property="og:image" content="http://defuserband.com/images/og.png" />
    <meta property="og:description" content="Hailing from Charlottetown, Prince Edward Island, Defuser, is the perfect blend of gut-busting rock n' roll mixed with a taste of funk, blues, and soul. Since the band's inception Defuser's mantra has remained the same: High energy at all costs." />
    <meta property="og:site_name" content="Defuser" />
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Owl Carousel CSS -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Music Icons -->
    <link href="/fonts/sound/flaticon.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Abel|Pathway+Gothic+One" rel="stylesheet">



    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">
  </head>
  <body>
    <!-- Passpartu -->
    <div class="passpartu passpartu_left"></div>
    <div class="passpartu passpartu_right"></div>
    <div class="passpartu passpartu_top"></div>
    <div class="passpartu passpartu_bottom"></div>
    <!-- Passpartu End -->
    <div class="page" id="page">
      <!-- Header -->
      <header class="no_border">
        <!-- Header Buttons -->
        <div class="header_btns_wrapper">
          <!-- Main Menu Btn -->
          <div class="main_menu">
            <i class="fa fa-bars"></i>
          </div>
          <!-- Sub Menu -->
          <div class="sub_menu">
            <div class="sub_cont">
              {% if page.title == "Home" %}
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                {% if site.albums.length != nil %}
                <li>
                  <a href="#releases">Release</a>
                </li>
                {% endif %}
                <li>
                  <a href="#events">Events</a>
                </li>
                <li>
                  <a href="#contacts">Contact</a>
                </li>
              </ul>
              {% else %}
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                {% if site.albums.length != nil %}
                <li>
                  <a href="/#releases">Release</a>
                </li>
                {% endif %}
                <li>
                  <a href="/#events">Events</a>
                </li>
                <li>
                  <a href="/#contacts">Contact</a>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
          <!-- Sub Menu End -->
        </div>
        <!-- Header Buttons End -->
        <!-- Up Arrow -->
        <a href="#page" class="up_block go">
        <i class="fa fa-angle-up"></i>
        </a>
      </header>
      <!-- Header End -->
      {% if page.title == "Home" %} {{content}} {% else %}
      <div class="blog">
        <div class="col-md-12 blog-container">
          <div class="col-md-6 col-md-offset-1">
            <h1 class="wow fadeInUp">{{ page.title }}</h1>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Posted on {{ page.date | date: "%m/%d/%Y" }}</p>
            <br/>
            <p class="wow fadeInUp" data-wow-delay="0.8s">{{content}}</p>
          </div>
          <div class="col-md-3 col-md-offset-2">
            <h3 class="wow fadeInUp">Recent News</h3>
            <ul class="list-unstyled wow fadeInUp" data-wow-delay="0.4s">
              {% for post in site.posts limit:10 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <span class="date">
                <span class="number">{{ page.date | date: "%m/%d/%Y" }}</span>
                </span>
              </li>
              {% endfor %} ...
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Page End -->
    <!-- JQuery -->
    <script defer src="/js/jquery-1.11.3.min.js"></script>
    <!-- WL Carousel JS -->
    <script defer src="/js/owl.carousel.min.js"></script>
    <!-- PrefixFree -->
    <script defer src="/js/prefixfree.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Textillate -->
    <script defer src="/js/jquery.lettering.js"></script>
    <!-- Countdown -->
    <script defer src="/js/jquery.plugin.min.js"></script>
    <script defer src="/js/jquery.countdown.min.js"></script>
    <!-- JQuery UI -->
    <script defer src="/js/jquery-ui.js"></script>
    <!-- Wow -->
    <script defer src="/js/wow.js"></script>
    <!-- Masonry -->
    <script defer src="/js/masonry.pkgd.min.js"></script>
    <!-- Bootstrap JS -->
    <script defer src="/js/bootstrap.min.js"></script>
    <!-- Theme JS -->
    <script defer src="/js/script.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>

    <script defer>
      window.onload = function () {
          $(window).trigger('resize');

          //Remove this
          if(new Date() >= new Date(Date.UTC(2019, 0, 11, 4, 0, 0))) {
            $('#pageTimer').addClass("hidden");
            $('.rev-statement').removeClass("hidden");
            $('.rev-yeah').removeClass("hidden");
            $('.rev-presave').addClass("hidden");
          }
          else {
            var timerId =
            countdown(
              new Date(Date.UTC(2019, 0, 11, 4, 0, 0)),
              function(ts) {
                document.getElementById('pageTimer').innerHTML = ts.toHTML("strong");
              },
              countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
          }
          
      
          setTimeout(function(){
              $('body').addClass('loaded');
              $('h1').css('color','#222222');
          }, 1000);

          $('.disable-modal').on('click', function() {
            $('.modal').removeClass('active');
          })

        $('.intro_item').mousemove(function(e) {
          var winHeight = $(window).height();
          var winWidth = $(window).width();

          var dx = 0.5 - (e.pageX / winWidth);
          var dy = 0.5 - (e.pageY / winHeight);

          $('.parallax').each(function(index, el) {

            var $el = $(el);
            var offX = dx * $el.data('offset');
            var offY = dy * $el.data('offset');

            // console.log(offX, offY);

            TweenMax.to($el, 0.2, {
              x: offX,
              y: offY
            });
            TweenMax.to($el, 0.2, {
              rotationY: offX * 0.30,
              rotationX: offY * 0.30
            });
          });

          // TweenMax.to($('.layer-1'), 0.2, {rotationY: dx , rotationX: -dy});

          // console.log(dx, dy);
        });

        $('.container').on('mouseout', function(e) {

          $('.parallax').each(function(index, el) {

            TweenMax.to(el, 0.2, {
              x: 0,
              y: 0,
              ease: Quad.easeOut
            });
            TweenMax.to(el, 0.2, {
              rotationY: 0,
              rotationX: 0
            });
          });

          // TweenMax.to($('.layer-1'), 0.2, {rotationY: 0, rotationX: 0});

        });
      }
    </script>
  </body>
</html>
